body{
    color:#222;
    -webkit-text-size-adjust:none;
    }
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    }
body,button,input,select,textarea {
    font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:62.5%;
    line-height:1.5;
    }
ol,ul{
    list-style:none;
    }

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    }
.section-wrap{
    width:100%;height:101%;
    overflow:visible;
    transition:transform 1s cubic-bezier(0.86,0,0.03,1);
    -webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);
    }
.section-wrap .section{
    position:relative;
    width:100%;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    }
.section-wrap .section .title{
    width:98%;
    height: 100%;
    /*position:absolute;*/
    top:10%;
    color:#fff;font-size:2.4em;
    text-align:center;
    }
.section-wrap .section .title p{
    padding:0 4%;
    opacity:0
    }
.section-wrap .section .title.active .tit{
    opacity:1;
    transform:translateY(-25px);
    -webkit-transform:translateY(-25px);
    transition:all 2s cubic-bezier(0.86,0,0.8,1);
    -webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);
    }
.section-wrap .section-1{background-color:#337ab7}
.section-wrap .section-2{background-color:#5cb85c}
.section-wrap .section-3{background-color:#5bc0de}
.section-wrap .section-4{background-color:#f0ad4e}
.section-wrap .section-5{background-color:#d9534f}
.section-wrap .section-6{background-color:#CC3}
.put-section-0{transform:translateY(0);-webkit-transform:translateY(0);}
.put-section-1{transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.put-section-2{transform:translateY(-200%);-webkit-transform:translateY(-200%);}
.put-section-3{transform:translateY(-300%);-webkit-transform:translateY(-300%);}
.put-section-4{transform:translateY(-400%);-webkit-transform:translateY(-400%);}
.put-section-5{transform:translateY(-500%);-webkit-transform:translateY(-500%);}
.put-section-6{transform:translateY(-600%);-webkit-transform:translateY(-600%);}
.put-section-7{transform:translateY(-700%);-webkit-transform:translateY(-700%);}
.section-btn{
    width:15px;
    position:fixed;
    right:4%;
    top:50%;
    }
.section-btn li{
    margin-left:5px;
    margin-top:5px;
    width:5px;
    height:5px;
    background-color:#FFF;
    cursor:pointer;
    text-indent:-9999px;
    border-radius:50%;
    -webkit-border-radius:50%;
    margin-bottom:12px;
    text-align:center;
    color:#fff;
    onsor:pointer;
}
.section-btn li.on{
    background:#fff;
    -moz-transition: width 0.3s;
    -moz-transition: height 0.3s;	/* Firefox 4 */
    -webkit-transition: width 0.3s;
    -webkit-transition: height 0.3s;	/* Safari 和 Chrome */
    -o-transition: width 0.3s;
    -o-transition: height 0.3s;
    width:9px;
    height:9px;
    margin-left:3px;
    margin-top:3px;
    }
.arrow{
    opacity:1;
    animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;
    -webkit-animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-30px;
    width:60px;
    height:60px;
    border-radius:100%;
    -webkit-border-radius:100%;
    line-height:60px;
    text-align:center;
    font-size:20px;
    color:#fff;
    border:1px solid #fff;
    cursor:pointer;
    overflow:hidden;
    }
.arrow:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
    }
@keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }
@-webkit-keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }
@keyframes bt{
    0%{ width:5px; height:5px; margin-left:5px; margin-top:5px;}
    100%{ width:9px; height:9px; margin-left:3px; margin-top:3px;}
    }