
.Journalism-box{
	width:1300px;
	margin:auto auto 0;
	overflow:hidden;
}
.Journalism-top{
	float:left;
	width:97%;
	border-bottom:#CCC 1px solid;
	height:50px;
	line-height:50px;
	margin-left:34px;
}
.Journalism-top p{
	font-weight:600;
	color:#000;
	font-size:16px;
	
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.width-100{
	width:100px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.yuan{
	width:10px; 
	height:10px; 
	margin-top:20px;
	position:relative;

}
.yuan-1{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-2px;
	margin-top:-2px;
	width:4px; 
	height:4px;
	background-color:#F00; 
	border-radius:50%;
	animation:yuan 2s infinite;
}

.tent{
    float: left;
    width: 1500px;
    height: 300px;
    margin-left: 200px;
    margin-top: 10px;
    overflow: hidden;
}
.tent ul{
	width:1500px;
	overflow:hidden;
}
.tent ul li{
	width:680px;
	height:320px;
	float:left;
	margin-left:60px;

}
.tent ul li a span{
	font-size:10px;
	margin-top:4px;
	display:block;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;
	padding-left:6px;
	padding-right:6px;
	color:#000;
}
.tent ul li a:hover span{
	cursor:pointer;
	color:#F00;
}
.tent ul li p{
	font-size:18px;
	padding-bottom:4px;
	color:#333;
	font-family:'微软雅黑';
}
.content-top-box{
	overflow:hidden;
	border-bottom:#F00 1px solid;
}
@keyframes top{
	0%{
		top:-450px;
	}
	60%{
		top:0;
	}
	70%{
		top:-10px;
	}
	80%{
		top:0px;
	}
	90%{
		top:-5px;
	}
	100%{
		top:0px;
	}
}
@keyframes top1{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes yuan{
	0%{
		top:50%;
		left:50%;
		margin-left:-2px;
		margin-top:-2px;
		width:4px; 
		height:4px;
	}
	50%{
		top:50%;
		left:50%;
		margin-left:-5px;
		margin-top:-5px;
		width:10px; 
		height:10px;
	}
	100%{
		top:50%;
		left:50%;
		margin-left:-2px;
		margin-top:-2px;
		width:4px; 
		height:4px;
	}
}

.xt{
	color:#666;
	width:80%;
	margin-left:20px;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp:3; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/

}

.xt1{
	position:absolute;
	bottom:0;
	text-align:right;
	color:#666;
	width:80%;
	margin-left:20px;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp:3; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/

}
.xt2{
	width:100%;
	display:block;
	overflow:hidden;
	height:30px;
}
.xt3{
	width:10px;
	margin-top:10px; 
	height:10px;
	border-radius:10px;
	display:block;
	background-color:#669535;
	float:left;
}
.xt4{
	font-size:16px;
	float:left;
	line-height:30px;
	margin-left:8px;
	width:65%;
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space:nowrap;
}
.xt5{
	float:right;
	margin-right:68px;
	
}
.xt6{
	width:100%; 
	overflow:hidden; 
	margin-top:6px;
	margin-bottom:10px;
}
.tent ul li .xt6 p:hover{color:#F00}
.tent ul li .xt4:hover{color:#F00}