{% load staticfiles %}

<!-- 内容区 -->
<div id="q1"class="w2">
    <!-- 首页 -->
    <div id="tab1" class="content1 tad" style="display:block;">
        <div id="sdf">
        <video id="tv" autoplay="1"loop="1" src="img/scene_3_7r.mp4" class="tv"></video>
        <div class="kuang">
            <div id="zi1" class="zi"><img src="img/b2.png" style="width:100%; height:100%;" /></div>
            <div id="zi2" class="zi-1"><img src="img/zhenyun.png" style="width:100%; height:100%;" /></div>
            <div id="input1" class="sousuo">
            <div class="anniu2">
            <input id="niu1" type="button" value="点击进入" style="width:120px; margin-left:10px; font-size:20px; font-family:'微软雅黑'; margin-top:9px;" />
            </div>
            </div>
        </div>
        </div>
        <div id="txt1" class="txt" style="display:none">
        <div id="banner">
            <div class="con">
                <ul class="pac">
                    <li style="display:block"><a href="#"><img src="img/1.jpg" style="width:700px; height:350px;"/></a></li>
                    <li><a href="#"><img src="img/2.jpg" style="width:700px; height:350px;"/></a></li>
                    <li><a href="#"><img src="img/3.jpg" style="width:700px; height:350px;"/></a></li>
                    <li><a href="#"><img src="img/4.jpg" style="width:700px; height:350px;"/></a></li>
                    <li><a href="#"><img src="img/5.jpg" style="width:700px; height:350px;"/></a></li>
                </ul>
                <span href="" class="zuo"></span>
                <span href="" class="you"></span>
                <ul class="but">
                    <li class="hover"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        </div>
        <div id="txt3" class="txt1" style="display:none" ></div>
    </div>

    <!-- 新闻动态 -->
    <div id="tab5"  class="content2 tad">
        <div id="zhezhao7" class="zhezhao"></div>
        <div class="content2-box1">
            <div class="shadow"></div>

        </div>
    </div>

     <!-- 关于我们 -->
    <div id="tab8"  class="content2 tad">
        <div id="zhezhao8" class="zhezhao"></div>
        <div class="content2-box1">
            <div class="shadow"></div>
        </div>
    </div>

     <!-- 公司产品 -->
    <div id="tab2"  class="content2 tad">
        <div id="zhezhao1" class="zhezhao"></div>
        <div class="content2-box1">
            <div class="shadow"></div>
            <div id="tc" class="chanpin">
                <div id="sannong" class="sannong">
                    <p class="p1">智慧三农</p>
                    <p class="p2">zhihuisannong</p>
                    <input class="p3" type="button" value="GO"/>
                </div>
                <div id="gonghui" class="gonghui">
                    <p class="p1">智慧工会</p>
                    <p class="p2">zhihuigonghui</p>
                    <input class="p3" type="button" value="GO" />
                </div>
                <div id="licai" class="licai">
                    <p class="p1">政府理财</p>
                    <p class="p2">zhengfulicai</p>
                    <input class="p3" type="button" value="GO" />
                </div>
            </div>
        </div>
        <div id="box" class="content-box">
            <div id="zxc" class="anniu1">返回</div>
            <div id="li1" class="content-box1">
                <ul>
                    <div class="zhihui">智慧三农</div>
                    <li style="background-color:#669535;"><p>>农村三资管理软件</p></li>
                    <li><p>>农村土地确权管理软件</p></li>
                    <li><p>>农村土地地理信息管理软件</p></li>
                    <li><p>>农村土地流转管理软件</p></li>
                    <li><p>>农村土地仲裁管理软件</p></li>
                    <li><p>>农村产权交易管理</p></li>
                    <li><p>>农民专业合作社经营管理软件</p></li>
                    <li><p>>农民专业合作社信息监测管理</p></li>
                    <li><p>>农民专业合作社申报管理软件</p></li>
                    <li><p>>农民专业合作社评优管理软件</p></li>
                    <li><p>>家庭农场经营管理软件</p></li>
                    <li><p>>农经统计软件</p></li>
                    <li><p>>农民负担监测管理</p></li>
                    <li><p>>一事一议</p></li>
                    <li><p>>农村勤廉双述</p></li>
                    <li><p>>涉农资金监管</p></li>
                    <li><p>>大学生村官管理</p></li>
                </ul>
            </div>
            <div class="content-box2">
                <div class="content-box3">
                    <div class="content-box4">
                        <div style="width:821px; height:716px; margin-left:90px"><img src="img/w1.jpg" style="width:821px; height:716px;" /></div>
                        <div style="width:821px; height:686px; margin-left:90px"><img src="img/w2.jpg" style="width:821px; height:686px;" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 产品方案 -->
    <div id="tab3"  class="content3 tad">
        <div id="zhezhao2" class="zhezhao"></div>
        <div class="content2-box1">
            <div class="shadow1"></div>
            <div id="tc1" class="chanpin">
                <div id="sannong1" class="sannong">
                    <p class="p1">智慧三农</p>
                    <p class="p2">zhihuisannong</p>
                    <input class="p3" type="button" value="GO"/>
                </div>
                <div id="gonghui1" class="gonghui">
                    <p class="p1">智慧工会</p>
                    <p class="p2">zhihuigonghui</p>
                    <input class="p3" type="button" value="GO" />
                </div>
                <div id="licai1" class="licai">
                    <p class="p1">政府理财</p>
                    <p class="p2">zhengfulicai</p>
                    <input class="p3" type="button" value="GO" />
                </div>
            </div>
        </div>
        <div id="box1" class="content-box">
            <div id="zxc1" class="anniu1">返回</div>
            <div id="li3" class="content-box1">
                <ul>
                    <div class="zhihui">智慧三农</div>
                    <li style="background-color:#669535;"><p>>河北省农业厅</p></li>
                    <li><p>>江西省农业厅</p></li>
                    <li><p>>江西省鹰潭市农业局</p></li>
                    <li><p>>浙江省绍兴市农业局1446+863</p></li>
                </ul>
            </div>
            <div class="content-box2">
                <div class="content-box3">
                    <div class="content-box4">
                        <div style="width:821px; height:571px; margin-left:90px"><img src="img/z1.jpg" style="width:821px; height:571px;" /></div>
                        <div style="width:821px; height:750px; margin-left:90px"><img src="img/z2.jpg" style="width:821px; height:750px;" /></div>
                        <div style="width:821px; height:566px; margin-left:90px"><img src="img/z3.jpg" style="width:821px; height:566px;" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 经典方案 -->
    <div id="tab4"  class="content4 tad">
        <div id="zhezhao3" class="zhezhao"></div>
        <div class="content2-box1">
            <div class="shadow2"></div>
            <div id="tc2" class="chanpin">
                <div id="sannong2" class="sannong">
                    <p class="p1">智慧三农</p>
                    <p class="p2">zhihuisannong</p>
                    <input class="p3" type="button" value="GO"/>
                </div>
                <div id="gonghui2" class="gonghui">
                    <p class="p1">智慧工会</p>
                    <p class="p2">zhihuigonghui</p>
                    <input class="p3" type="button" value="GO" />
                </div>
                <div id="licai2" class="licai">
                    <p class="p1">政府理财</p>
                    <p class="p2">zhengfulicai</p>
                    <input class="p3" type="button" value="GO" />
                </div>
            </div>
        </div>
        <div id="box2" class="content-box">
            <div id="zxc2" class="anniu1">返回</div>
            <div id="li5" class="content-box1">
                <ul>
                    <div class="zhihui">智慧三农</div>
                    <li style="background-color:#669535;"><p>>数字农经一体化解决方案</p></li>
                    <li><p>>数字农廉一体化解决方案</p></li>
                    <li><p>>农亲网平台</p></li>
                    <li><p>>土地承包确权颁证一体化</p></li>
                </ul>
            </div>
            <div class="content-box2">
                <div class="content-box3">
                    <div class="content-box4">
                        <div style="width:821px; height:696px; margin-left:90px"><img src="img/x1.jpg" style="width:821px; height:696px;" /></div>
                        <div style="width:821px; height:586px; margin-left:90px"><img src="img/x2.jpg" style="width:821px; height:586px;" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 加入我们 -->
    <div id="tab6"  class="content6 tad">
        <div id="zhezhao4" class="zhezhao"></div>
        <div class="lianxi-left-box">
            <div id="leftbox1" class="lianxi-left-box1">
                <p style="font-size:66px; float:right; color:#000; font-family:'微软雅黑'; font-weight:bold;">加入我们</p>
                <p style="font-size:66px; float:right; color:#000; font-family:'微软雅黑'; font-weight:bold;">是你明智的选择</p>
            </div>
        </div>
        <div class="lianxi-right-box">
            <div id="rightbox1" class="lianxi-right-box1" style="">
                <p class="pc" style="">　　人才是第一资源。公司海纳百川，汇萃精华，始终把人才作为企业发展的创业之本、竞争之本、发展之本。经过十多年的不断发展，已经形成了敬人敬业、公平竞争、尊重知识和人才的良好企业风气。公司以其独特的人才招聘战略、开阔的事业发展空间、优良的人才成长环境、有效的激励机制和人本的企业文化理念，使企业成为人才集聚的高地。</p>
                <p class="pc" style=" margin-top:0;">　　我们希望有更多志同道合的人才加入我们的行列，更多的人关注我们的发展！</p>
                <p class="pc" style=" margin-top:0;">　　联系电话：0571-88271619</p>
            </div>
        </div>
    </div>

    <!-- 联系我们 -->
    <div id="tab7"  class="content7 tad">
        <div id="zhezhao5" class="zhezhao"></div>
        <div class="content7-left-box">
            <div class="content7-left-box1">
                <div id="zuo-dian" class="content7-left-box2"></div>
            </div>
            <div class="content7-top-box"></div>
            <div class="content7-right-box">
                <div id="you-dian"  class="content7-right-box1"></div>
            </div>
        </div>
        <div class="right-box1">
            <div id="tu" class="ditu"></div>
        </div>
    </div>
</div>