{% extends 'siteManager/base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap_.min.css' %}">

<div id="q1" class="w2">
    <!-- 首页 -->
    <div id="tab1" class="content1 tad" style="display:block;">
        <!--<div id="zhezhao4" class="zhezhao"></div>-->

        <div style="width:250px; height:80px; position:absolute; left:80px; top:20px;">
            <div><img src="{% static 'img/logo1.png' %}"
                      style="width:60%; height:60%;float:left; margin-left:46px; margin-bottom:10px;"/></div>
        </div>
        <div class="sousuo1">
            <input id="selech_input" name="keyword" type="text" value="" placeholder="请输入产品或方案名称" maxlength="12"
                   style=""/>
            <a id="query_button" href="#"><img src="{% static 'img/xc.png' %}"/></a>
        </div>
        <div id="txt1" class="txt">
            <!-- 轮播图 -->
            <div id="banner">
                <div class="con">

                    {% if carousel_page_list %}
                    <div id="myCarousel" class="carousel slide clearfix" data-ride="carousel" data-interval="3000">
                        <ol class="carousel-indicators">
                            {% for carousel_page in carousel_page_list %}
                            {% if forloop.first%}
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                            {% endif%}

                            {% endfor %}
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            {% for carousel_page in carousel_page_list %}
                            {% if forloop.first%}
                            <div class="item active">
                                <a href="{% url 'articledetail' carousel_page.Category__Code carousel_page.Type__Code carousel_page.id %}">
                                    <img src="{{ imgurl }}{{carousel_page.Attachment}}" alt="{{carousel_page.Title}}"
                                         style="width:700px; height:350px;">
                                </a>
                            </div>
                            {% else %}
                            <div class="item">
                                <a href="{% url 'articledetail' carousel_page.Category__Code carousel_page.Type__Code carousel_page.id %}">
                                    <img src="{{ imgurl }}{{carousel_page.Attachment}}" alt="{{carousel_page.Title}}"
                                         style="width:700px; height:350px;">
                                </a>
                            </div>
                            {% endif%}
                            {% endfor %}
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
            <!-- 公司简介 -->
            <div id="txt3" class="txt1">
                <marquee stryle=" width: 360px;height: 350px;" direction="up" scrollamount="5" onMouseOut="this.start()" onMouseOver="this.stop()">
                <div style="margin: 10px; font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;" >
                    <p>
                          <span>
                              <br>&nbsp; &nbsp; 杭州政云数据技术有限公司成立于2014年6月，是杭州新中大软件股份有限公司全资子公司，公司致力于利用互联网、智能化、云计算等信息技术，帮助政府部门提升政务管控效率，面向工会、财政、农业等政府部门提供相关软件的咨询、研发、服务。<br>
                              <br>&nbsp; &nbsp; 互联网时代智慧工会、政府理财解决方案领导厂商，目前政云数据已为中华全国总工会、中国疾病预防控制中心、北京市总工会、浙江省总工会、湖南省总工会、 河北省农业厅、江西省农业厅、陕西省农业厅、杭州市财政局、等数万政府机构提供安全、稳定性的产品和大数据应用服务。......
                          </span>
                    </p>
                </div>
               </marquee>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'JS/yundong2.js' %}"></script>
<script src="{% static 'JS/daohang.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'JS/Search.js' %}"></script>
<script>


</script>

{% endblock %}