{% extends 'siteManager/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/posterTvGrid.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/gongyong.css' %}">
<link rel="stylesheet" href="{% static 'css/jiaru.css' %}">
<link rel="stylesheet" href="{% static 'css/width-1440.css' %}" >
<link rel="stylesheet" href="{% static 'css/width-1366.css' %}" >
<link rel="stylesheet" href="{% static 'css/width-1280.css' %}" >
{% endblock %}

{% block content %}
<div style="height: 100%;">
    <div style="width: 100%;margin-left: 60px; height: 100% ">
        <!--<div id="zhezhao4" class="zhezhao"></div>-->
        <div class="topbox">
            <div style="width:100%; height:50px; position:absolute;">
                <div class="jiaru_head_1">
                    <p style="font-size:24px; font-family:'微软雅黑'; line-height:50px; text-align:right; padding-right:10px; color:#FFF">
                        员工生活</p>
                </div>
                <div style="width:87.1%; height:20px; background:url(/static/img/2c.png) no-repeat; background-size:100% 100%; position:absolute; left:0;"></div>
            </div>
            <div class="jiaru_div_lunbo">
                <div id="posterTvGrid86804" class="posterTv"></div>
            </div>
        </div>

        <div class="box">
            <div class="box6">
                <div class="box5" style="">
                    <p class="p">人才招聘</p>
                </div>
                <div class="p1" style=""></div>
            </div>
            <div class="box4">
                <ul class="jiaru_c">
                    {% for recruit in recruitlist %}
                    <li class="c1">
                        <div class="c3" style="">
                            {% if recruit.Attachment %}
                               <img src="{{imgurl}}{{recruit.Attachment}}" />
                            {% else %}
                               <img src=" /static/img/2.png"/>
                            {% endif%}
                        </div>
                        <p>{{recruit.Position}}</p>
                        <a href="{% url 'joinusdetail' recruit.id  %}" class="c4" style="">了解详情〉</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<!--<script src="{% static 'JS/about.js' %}"></script>-->
<script src="{% static 'JS/yundong2.js' %}"></script>
<script src="{% static 'JS/panduan.js' %}"></script>
<script src="{% static 'JS/daohang.js' %}"></script>
<script src="{% static 'JS/jquery-1.11.1.min.js' %}"></script>
<!--<script src="{% static 'JS/lunbo.js' %}"></script>-->
<script src="{% static 'JS/posterTvGrid.js' %}"></script>
<script>



    var img_data=[];

    $.get("{% url 'joinus_ajax' %}", {'type': 'employeeLife'}, function (ret) {
        if (ret.res =='success') {
            var data = $.parseJSON(ret.msg);
            for (var i = 0; i < data.length; i++) {
                img_data.push({"img":'/media/'+data[i]['Attachment'],"title":data[i]['Title'],"url":""})
            }

        }

       var posterTvGrid86804 = new posterTvGrid('posterTvGrid86804',{className: "posterTvGrid"},img_data);
    })

</script>
{% endblock %}
