{% load staticfiles %}

<script src="{% static 'JS/yundong2.js' %}"></script>
<script src="{% static 'JS/chanping.js' %}"></script>
<script src="{% static "JS/panduan.js" %}"></script>
<script src="{%  static "JS/daohang.js" %}"></script>
<script src="{% static "JS/jiaru_yingxiao.js" %}"></script>
<script src="{% static "JS/fangan.js" %}"></script>
<script src="{% static "JS/anlie.js" %}"></script>
<script src="{% static "JS/xinwen.js" %}"></script>
<script src="{% static "JS/guanyuwomen.js" %}"></script>
<script src="{% static "JS/jquery-1.11.1.min.js" %}"></script>

