{% extends 'siteManager/base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/gongyong.css' %}">
    <link rel="stylesheet" href="{% static 'css/chanping.css' %}">
    <link rel="stylesheet" href="{% static 'css/width-1440.css' %}" >
    <link rel="stylesheet" href="{% static 'css/width-1366.css' %}" >
    <link rel="stylesheet" href="{% static 'css/width-1280.css' %}" >
    <script src="{% static 'JS/jquery-1.11.1.min.js'%}"></script>
{% endblock %}

{% block content %}
    <div id="q1" class="w2" style="margin-left: 60px;">
        <div id="box" class="content2-1 tad">
            <div id="zxc" class="anniu1"><a href="{% url 'article' tabetype %}">返回</a></div>
            <div id="li1" class="content-box1">
                <ul >
                    {% if article_first %}
                        <div class="zhihui">{{ article_first.Type__Name }}</div>
                        {% for category in article_list %}
                            {% if category.iscurrent %}
                                 <li style="background-color: #669535;">
                                     <p class="contentid" id="{{ category.id }}">{{category.Title  | slice:"15"}}</p>
                                 </li>
                            {% else %}
                                 <li>
                                     <p class="contentid" id="{{ category.id }}">{{ category.Title | slice:"15"}}</p>
                                 </li>
                            {% endif%}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </ul>
            </div>

            <div class="content-box2">

                <div class="content-box3">

                    <div class="textcontent">
                        <div class="contenttitle">
                            <p class="tcenter"  style="color: #000000;"><span id="news_title">{{detail_content.Title}}</span></p>
                            <span id="news_time" class="fright"  style="color: #000000;margin-right: 50px;">{{detail_content.CreateTime}}</span>
                        </div>
                        <div style="color: #000000; text-align: right;margin-right: 100px;"><span></span> </div>
                        <div id="news_content" class="newscontent" >{{ detail_content.Content|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--点击事件-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/Monokai.css' %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        $(document).ready(function () {
            $(".contentid").click(function () {
                var contentid = $(this).attr("id");

                $.get("{% url 'content_ajax' %}", {'table': '{{ tabetype }}', 'contentid': contentid}, function (ret) {
                    $('#news_content').empty();
                    $('#news_content').append(ret["Content"]);

                    $('#news_title').empty();
                    $('#news_title').append(ret["Title"]);

                    $('#news_time').empty();
                    var date = new Date(ret["CreateTime"]).toISOString().replace(/T/g,' ').replace(/\.[\d]{3}Z/,'');
                    $('#news_time').append(date);

                    //刷新内嵌样式
                    $('pre code').each(function (i, block) {
                        hljs.highlightBlock(block);
                    });
                })
            });


        });
    </script>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'css/newscontent.css' %}"/>
<script src="{% static 'JS/yundong2.js'%}"></script>
<script src="{% static 'JS/panduan.js'%}"></script>
<script src="{% static 'JS/daohang.js'%}"></script>

<script>

// 添加选中的样式
var foo = function () {
    var li1 = document.getElementById('li1'),
            oLi3 = li1.getElementsByTagName('li'),
            i = 0,
            max = oLi3.length;
    for (; i < max; i++) {
        (function (index) {
            oLi3[index].onclick = function () {

                for (var i = 0; i < oLi3.length; i++) {
                    oLi3[i].style.backgroundColor = ''
                }
                this.style.backgroundColor = '#669535';
            };
        })(i);
    }
};
foo();

</script>

{% endblock %}
